
.cabecario{
    box-sizing: content-box;
    width: 1290px;
    height: 14px;
    top: 0px; /*move para cima e para baixo*/
    left: 0px;/* move para o lado*/
    padding: 17px;
    margin:0px;
    position:absolute;
    background-color: #7CC0FF;
}
.cabecario{
    display: flex;
    gap: 1px;
    flex-direction:row-reverse;
    color: rgb(124, 25, 25);
    bottom: 10px;
    gap: 12px;
}
#container_filtros{
    box-sizing: content-box;
    width: 80px;
    height: 800px;
    top: -10px;
    left: -7px;
    padding: 15px;
    margin: 0px;
    position: relative;
    background-color: #7CC0FF;
}
form{
    display: flex;
    gap: 1px;
    flex-direction:column;
    color: black;
    bottom: 10px;
    gap: 12px;
    box-sizing: content-box;
    position:absolute;
    top:60px;
    left: 10px;
    font-size:large;
    font-family:serif;
}
.voltar{
    box-sizing: content-box;
    width: 40px;
    height: 10px;
    top: 5px;
    left: 1200px;
    padding: 0px;
    margin: 0px;
    position: relative;
}
#informações{
    box-sizing: content-box;
    width: 500px;
    height: 150px;
    top: 200px; /*move para cima e para baixo*/
    left: 500px;/* move para o lado*/
    padding: 30px;
    margin:0px;
    position:absolute;
    background-color: rgb(22, 94, 228);
}
#foto{
    box-sizing: content-box;
    width: 100px;
    height: 100px;
    top: 230px; /*move para cima e para baixo*/
    left: 250px;/* move para o lado*/
    padding: 30px;
    margin:0px;
    border-radius: 50%;
    position:absolute;
    background-color: rgb(22, 94, 228);
}
button{
    box-sizing: content-box;
    width: 200px;
    height: 60px;
    top: 420px;
    left: 700px;
    padding: 0px;
    margin: 0px;
    position:absolute;
}