body{
    background-color: #CEEDFF;
}
.tit1{
    background-color: #7CC0FF;
    text-align: center;
    
}
.tit2{
    background-color: #7CC0FF;
    text-align: center;
}
.barraNav{
    
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    background: #94BFFF;
}
.dados{
    margin-top: 100px;
    text-align: center;
}
.dadosAdicionais{
    text-align: center;
}